<li class="prod_item">
  <!-- 체크박스 영역 -->
  <!-- 체크박스 영역 -->

  <span class="form_chk no_label">
    <!--교보일때-->

    <input
      class="result_checkbox spec_checkbox"
      id="chkSearch_S000001813723"
      type="checkbox"
      name="001_001_S000001813723_chkSearchNm"
      data-pid="S000001813723"
      data-bid="9791162542125"
      data-name="비즈니스 모델의 탄생"
      data-code="KOR"
      data-grp-code="SGK"
      data-cdtn-code="001"
      data-comb-code="0"
      data-prhb-age="0"
    />

    <!--ebook/sam일때-->

    <!--핫트랙스일때-->

    <!--중고 장터일때-->

    <label for="chkSearch_S000001813723"
      ><span class="hidden">상품선택</span></label
    >
  </span>

  <!-- // 체크박스 영역 -->

  <!-- 상품 영역 -->
  <div class="prod_area horizontal">
    <div class="prod_thumb_box size_lg">
      <a
        href="https://product.kyobobook.co.kr/detail/S000001813723"
        class="prod_link"
        onclick='addGAData("S000001813723", "\uBE44\uC988\uB2C8\uC2A4 \uBAA8\uB378\uC758 \uD0C4\uC0DD", &apos;종이책&apos;); setWebRecommShop("9791162542125", "KOR", "130701", "", &apos;P&apos;, "0", "0");'
      >
        <span class="img_box">
          <img
            class="prod_img_load"
            data-kbbfn="s3-image"
            loading="lazy"
            alt="비즈니스 모델의 탄생"
            src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791162542125.jpg"
            data-src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791162542125.jpg"
          />
        </span>
      </a>

      <div class="prod_viewer_control">
        <button
          type="button"
          class="btn_prod_viewer"
          onclick="goPreview(&quot;S000001813723&quot;,&quot;0&quot;); gaEventTryCatch('click_검색_PC', '검색결과_교보문고', '상품', '미리보기', '', ''); "
        >
          <span class="ico_preview"></span><span class="text">미리보기</span>
        </button>
      </div>
    </div>
    <div class="prod_info_box">
      <!-- 라벨 -->
      <!-- 라벨 페이지 -->
      <div class="prod_badge">
        <!--교보일때-->
        <!--종이책, 컬쳐(유료), GIFT일때-->

        <!-- DESC : 썸네일로 보기 타입에서 노출되는 뱃지 [ rep ] class 추가 -->

        <span class="badge_md badge_line_primary rep"
          ><span class="text">MD의 선택</span></span
        >

        <!--ebook/sam 일때-->

        <!--핫트랙스일때-->
      </div>
      <!-- // 라벨 -->

      <!-- 상품명 -->
      <div class="auto_overflow_wrap prod_name_group">
        <div class="auto_overflow_contents">
          <div class="auto_overflow_inner">
            <a
              href="https://product.kyobobook.co.kr/detail/S000001813723"
              class="prod_info"
              onclick='addGAData("S000001813723", "\uBE44\uC988\uB2C8\uC2A4 \uBAA8\uB378\uC758 \uD0C4\uC0DD", &apos;종이책&apos;); setWebRecommShop("9791162542125", "KOR", "130701", "", &apos;P&apos;, "0", "0");'
            >
              <span class="prod_category">[국내도서]</span>

              <span id="cmdtName_S000001813723">비즈니스 모델의 탄생</span>
            </a>
          </div>
        </div>
        <div class="auto_overflow_footer">
          <button
            type="button"
            class="btn_more_detail"
            onclick='goTitlePopup("S000001813723");'
            data-role="btn-dialog"
            data-target="#popAllProdTitle"
          >
            <span class="hidden">더보기</span><span class="ico_plus"></span>
          </button>
          <!-- LayerPopup area -->
          <!-- 타이틀 전체보기 -->

          <!-- //타이틀 전체보기 -->
          <!-- // LayerPopup area -->
        </div>
      </div>
      <!-- // 상품명 -->

      <!-- 상품 부제명 -->
      <div class="prod_desc_info">
        <span class="prod_desc"
          >상상과 혁신, 가능성이 폭발하는 비즈니스 모델 캔버스 활용<span
            class="gap"
          >
            |
          </span></span
        >

        <span class="prod_desc normal">양장본 HardCover</span>
      </div>
      <!-- // 상품 부제명 -->

      <!-- 저자, 출판사 정보 -->
      <div class="prod_author_info">
        <!-- 강연/공연 인물명, 여행사인경우 type_culture class 추가 -->
        <div class="auto_overflow_wrap prod_author_group">
          <!--인물 페이지-->
          <!--인물역할코드@인물코드@인물명|인물역할코드@인물코드@인물명-->
          <div class="auto_overflow_contents">
            <div class="auto_overflow_inner">
              <!--인물 페이지-->

              <!-- DESC :썸네일로 보기 타입에서 노출되는 대표 1명 저자에 [ rep ] class 추가 -->

              <a
                href="javascript:void(0);"
                onclick='goClickSearchPage(&apos;chrc&apos;,"2002387201","\uC54C\uB809\uC0B0\uB354 \uC624\uC2A4\uD130\uC648\uB354");'
                class="author rep"
                >알렉산더 오스터왈더</a
              >

              <!--인물역할코드 페이지-->
              <!--인물역할코드-->
              <span class="type">저자(글)</span>

              <span class="gap"> | </span>

              <!--인물 페이지-->

              <!-- DESC :썸네일로 보기 타입에서 노출되는 대표 1명 저자에 [ rep ] class 추가 -->

              <a
                href="javascript:void(0);"
                onclick='goClickSearchPage(&apos;chrc&apos;,"null","\uC608\uC2A4 \uD53C\uADF8\uB204\uC5B4");'
                class="author"
                >예스 피그누어</a
              >

              <!--인물역할코드 페이지-->
              <!--인물역할코드-->
              <span class="type">저자(글)</span>

              <span class="gap"> | </span>

              <!--인물 페이지-->

              <!-- DESC :썸네일로 보기 타입에서 노출되는 대표 1명 저자에 [ rep ] class 추가 -->

              <a
                href="javascript:void(0);"
                onclick='goClickSearchPage(&apos;chrc&apos;,"1112490602","\uC720\uD6A8\uC0C1");'
                class="author"
                >유효상</a
              >

              <!--인물역할코드 페이지-->
              <!--인물역할코드-->

              <span class="type">번역</span>

              <span class="count">외</span>
            </div>
          </div>

          <div class="auto_overflow_footer">
            <button
              type="button"
              class="btn_more_detail"
              onclick='goAuthorPopup("001@2002387201@\uC54C\uB809\uC0B0\uB354 \uC624\uC2A4\uD130\uC648\uB354|001@@\uC608\uC2A4 \uD53C\uADF8\uB204\uC5B4|003@1112490602@\uC720\uD6A8\uC0C1");'
              data-role="btn-dialog"
              data-target="#popAuthorView"
            >
              <span class="hidden">더보기</span><span class="ico_plus"></span>
            </button>
          </div>
          <!--인물 페이지-->
          <!-- LayerPopup area -->
          <!-- 저자 모두보기 팝업 -->
          <!-- 수정 211207 div.dialog_author 클래스 추가 -->

          <!-- 수정 211207 div.dialog_author 클래스 추가 -->
          <!-- //저자 모두보기 팝업 -->
          <!-- // LayerPopup area -->
        </div>

        <div class="prod_publish">
          <a
            href="javascript:void(0);"
            class="text"
            onclick='goClickSearchPage(&apos;pbcm&apos;,"PB15538","\uBE44\uC988\uB2C8\uC2A4\uBD81\uC2A4");'
            >비즈니스북스</a
          >

          <span class="gap">·</span>
          <span class="date">2021년 05월 11일</span>
        </div>
      </div>
      <!-- // 저자, 출판사 정보 -->

      <!--가격정보 페이지-->
      <!-- 가격정보 페이지 -->

      <!--판매중일떄-->

      <!--교보일때-->
      <!--종이책, 컬쳐(유료), GIFT일때-->

      <div class="prod_price">
        <span class="percent">10%</span>

        <span class="price">
          <span class="val">18,000</span>
          <span class="unit">원&nbsp;</span>
        </span>

        <span class="price_normal">
          <span class="text">정가</span>
          <s class="val">20,000원</s>
        </span>

        <span class="gap">|</span>
        <span class="point">
          1,000p
          <span class="rate">(5%)</span>
        </span>
      </div>

      <!--ebook/sam 일때-->

      <!--핫트랙스일때-->

      <!--판매중이 아닐떄-->

      <!--중고 장터일때-->

      <!--//가격정보 페이지-->

      <!-- 리뷰 정보, 썸네일형 찜하기 버튼 -->
      <div class="prod_bottom">
        <!--좋아요 버튼(썸네일) 정책 레이아웃-->
        <!-- 좋아요 버튼 정책 레이아웃-->
        <!-- DESC : 찜하기 버튼 활성화 시 button.btn_wish 영역 [active] class 추가 -->

        <!--교보일때-->

        <button
          type="button"
          class="btn_wish_icon bottom"
          id="S000001813723_CMDTCODE_ICON_BOTTOM"
          onclick="addWishEvent('PC', '종이책', &quot;S000001813723&quot;, this, '001');"
          data-cmdtcode="9791162542125"
        >
          <span class="ico_wish"></span><span class="hidden">관심 등록</span>
          <span class="val" id="S000001813723_CMDTCODE_VAL_BOTTOM">97</span>
        </button>

        <!--ebook/sam일때-->

        <!--핫트랙스일때-->

        <!--중고 장터일때-->

        <!--//좋아요 버튼(썸네일) 정책 레이아웃-->

        <!--클로버리뷰-->
        <!-- 클로버 리뷰 페이지 -->

        <a
          href="javascript:void(0);"
          class="review_summary_wrap type_sm"
          onclick='goKloverReviewPage("KOR", "S000001813723");'
        >
          <span class="review_klover_box">
            <span class="review_klover_text font_size_xxs">10.0</span>

            <!--임시 조건-->

            <span class="review_desc">(33)</span>

            <!--//임시조건-->
          </span>

          <!--임시 조건-->

          <span class="gap">/</span>
          <span class="review_quotes_text font_size_xxs">추천해요</span>

          <!--//임시조건-->
        </a>

        <!--//클로버리뷰-->
      </div>
      <!-- // 리뷰 정보, 썸네일형 찜하기 버튼 -->

      <!-- 태그 -->
      <div class="tag_wrap size_sm">
        <a
          href="javascript:tagSearch('경영전략','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '경영전략', '');"
          >#경영전략</a
        >

        <a
          href="javascript:tagSearch('창업','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '창업', '');"
          >#창업</a
        >

        <a
          href="javascript:tagSearch('신규사업','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '신규사업', '');"
          >#신규사업</a
        >

        <a
          href="javascript:tagSearch('틈새시장','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '틈새시장', '');"
          >#틈새시장</a
        >

        <a
          href="javascript:tagSearch('조직문화','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '조직문화', '');"
          >#조직문화</a
        >

        <a
          href="javascript:tagSearch('사업아이템','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '사업아이템', '');"
          >#사업아이템</a
        >

        <a
          href="javascript:tagSearch('혁신','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '혁신', '');"
          >#혁신</a
        >

        <a
          href="javascript:tagSearch('창의','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '창의', '');"
          >#창의</a
        >

        <a
          href="javascript:tagSearch('시장성','total')"
          class="tag"
          onclick="GA_ChangeTartgetNmPC('click_검색_PC', 'total', '상품', '클릭_태그', '시장성', '');"
          >#시장성</a
        >
      </div>
      <!-- // 태그 -->

      <!-- 이벤트 정보 -->

      <!-- // 이벤트 정보 -->
    </div>
  </div>
  <!-- // 상품 영역 -->

  <!-- only list type -->

  <!--<th:block th:if="${item.SALE_CMDT_DVSN_CODE} eq 'KOR' or ${item.SALE_CMDT_DVSN_CODE} eq 'ENG' or ${item.SALE_CMDT_DVSN_CODE} eq 'JAP' or ${item.SALE_CMDT_DVSN_CODE} eq 'BNT'  or ${item.SALE_CMDT_DVSN_CODE} eq 'JNT'">-->
  <!-- 배송정보 영역 -->
  <!--바로드림 전용상품이 아닐경우-->

  <div class="prod_order_state">
    <div class="order_state_desc">
      <!--<span>지금 주문하면</span> -->
      <!--<br> -->
      <span class="fw_bold">내일(12/28, 목) </span>

      <br />
      <span>도착</span>
    </div>
  </div>

  <!-- // 배송정보 영역 -->
  <!--</th:block>-->

  <!-- 리스트형 타입 버튼영역 -->
  <div class="prod_btn_wrap">
    <!--결제기능, 좋아요 버튼 정책 레이아웃-->
    <!-- 좋아요 버튼 정책 레이아웃-->
    <!-- DESC : 찜하기 버튼 활성화 시 button.btn_wish 영역 [active] class 추가 -->

    <!--교보일때-->

    <button
      type="button"
      class="btn_wish_icon"
      id="S000001813723_CMDTCODE_ICON"
      onclick="addWishEvent('PC', '종이책', &quot;S000001813723&quot;, this, '001');"
      data-cmdtcode="9791162542125"
    >
      <span class="ico_wish"></span><span class="hidden">관심 등록</span>
      <span class="val" id="S000001813723_CMDTCODE_VAL">97</span>
    </button>

    <!--ebook/sam일때-->

    <!--핫트랙스일때-->

    <!--중고 장터일때-->

    <!--캐스팅일때-->

    <!--결제기능 버튼 정책 레이아웃-->
    <div class="btn_wrap full">
      <!--교보일때-->

      <!--판매중/예약중 일떄-->
      <!--or-->
      <!--KOR,PBC,ENG,JAP AND CMDT_CDTN_CODE = 002, 019, 010, 049, 003, 016, 017 AND REAL_INVN_QNTT 0 -> 2022.10.20 해당 조건 제거 요청으로 제거 완료 -->

      <a
        href="javascript:;"
        class="btn_sm btn_light_gray"
        onclick='searchClickEvent(&apos;cart&apos;, &apos;PC&apos;, "\uC885\uC774\uCC45", "S000001813723", "\uBE44\uC988\uB2C8\uC2A4 \uBAA8\uB378\uC758 \uD0C4\uC0DD", "KOR", "130701", "SGK", "9791162542125", "0", "0");'
        ><span class="text">장바구니</span></a
      >

      <a
        href="javascript:;"
        class="btn_sm btn_line_primary"
        onclick='searchClickEvent(&apos;pickup&apos;, &apos;PC&apos;, "\uC885\uC774\uCC45", "S000001813723", "\uBE44\uC988\uB2C8\uC2A4 \uBAA8\uB378\uC758 \uD0C4\uC0DD", "KOR", "130701", "SGK", "9791162542125", "0", "0");'
        ><span class="text">바로드림</span></a
      >

      <a
        href="javascript:;"
        class="btn_sm btn_primary"
        onclick='searchClickEvent(&apos;buy&apos;, &apos;PC&apos;, "\uC885\uC774\uCC45", "S000001813723", "\uBE44\uC988\uB2C8\uC2A4 \uBAA8\uB378\uC758 \uD0C4\uC0DD", "KOR", "130701", "SGK", "9791162542125", "0", "0");'
        ><span class="text">바로구매</span></a
      >

      <!--품절 상품일때-->

      <!--출시예정 상품일때-->
      <!--<th:block th:if="${item.CMDT_CDTN_CODE} eq '004'">
                <button type="button" class="btn_sm btn_line_primary" th:onclick="clickProdAlarm(S000001813723, SGK, KOR);"><span class="ico_alarm"></span><span class="text">출시알림</span></button>
            </th:block>-->

      <!--절판,품절,일시품절 일때-->
      <!--<th:block th:if="${item.CMDT_CDTN_CODE} eq '003' or ${item.CMDT_CDTN_CODE} eq '002' or ${item.CMDT_CDTN_CODE} eq '010' or ${item.CMDT_CDTN_CODE} eq '011'">
                <th:block th:if="${item.SALE_CMDT_DVSN_CODE} ne 'GFC'">
                    <button type="button" class="btn_sm btn_line_primary" th:onclick="clickProdAlarm(S000001813723, , KOR);"><span class="ico_alarm"></span>
                        <th:block th:if="${item.SALE_CMDT_DVSN_CODE} eq 'PBC'"><span class="text">재판매알림</span></th:block>
                        <th:block th:unless="${item.SALE_CMDT_DVSN_CODE} eq 'PBC'"><span class="text">재입고알림</span></th:block>
                    </button>
                </th:block>
            </th:block>-->

      <!--ebook/sam 일때-->

      <!--핫트랙스일때-->
      <!--<th:block th:if="${item.SALE_CMDT_DVSN_CODE} eq 'MUC' or ${item.SALE_CMDT_DVSN_CODE} eq 'DVD' or ${item.SALE_CMDT_DVSN_CODE} eq 'GFT'">-->
      <!-- 앨범 일때-->

      <!--중고 장터일때-->
    </div>

    <!--//결제기능, 좋아요 버튼 정책 레이아웃-->

    <ul class="prod_related_list">
      <li class="btn_item">
        <a
          href="https://product.kyobobook.co.kr/detail/S000009424245"
          class="btn_xxs btn_pill btn_line_gray"
        >
          <span class="text">원서/번역서</span><span class="ico_arw"></span>
        </a>
      </li>

      <li class="btn_item">
        <a
          href="https://ebook-product.kyobobook.co.kr/dig/epd/ebook/E000002943290"
          class="btn_xxs btn_pill btn_line_gray"
        >
          <span class="text">eBook</span><span class="ico_arw"></span>
        </a>
      </li>
    </ul>
  </div>
</li>
